body {
    color: #FFFFFF;
    margin: 0;
    font-family: 'Open Sans', Tahoma;
    font-size: 18px;
    background-color: #DDDDDD;

}

.navbar {
    width: 100%;
    background-color: #222831;
    position: fixed;
    top: 0;
}

.navbar a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    float: left;
    padding: 16px 18px;
    text-decoration: none;
    margin: 0 0 0 20px;
}

.navbar a:hover {
    background-color: #616161;
    color: #FFFFFF;
}

.header {
    text-align: center;
}


form {
    width: 70%;
    max-width: 70%;
    min-width: 60%;
    margin: 300px auto;
    background-color: #30475E;
    color: #FFFFFF;
    padding: 0 0 50PX 0;
}

input, textarea { 
    margin-top: 10px;
    background-color: #222831;
    border: none;
    color: #FFFFFF;
}

label {
    display: block;
    padding: 20px 0 30px 80px;
}

.gender {
    display: inline-block;
}

.inp, textarea {
    display: block;
    width: 30%;
    padding: 7px;
    margin-bottom: 3px;
}

::placeholder {
    color: #FFFFFF;
    opacity: .5;
}

.questions, .details {
    text-align: center;
    background-color: #222831;
    padding: 14px;
}

input[type="submit"] {
    display: block;
    width: 40%;
    height: 2em;
    font-size: 1.1rem;
    background-color: #222831;
    color: #FFFFFF;
    border-color: white;
    min-width: 300px;
    margin: auto;
  }

